<%- include("partials/header") -%>

<h1><%= elementTitle %></h1>
<div class="postText">          <!--  Render the post elements -->
    <p><%= elementText %></p>
</div>



<!-- <%- include("partials/footer") -%> -->

